{{ ansible_managed | comment }}

{{ openvpn_role }}
dev {{ openvpn_device }}
proto {{ openvpn_proto }}
remote {{ openvpn_client_server }} {{ openvpn_port }} {{ openvpn_proto }}
user {{ openvpn_user }}
group {{ openvpn_group }}
tls-auth {{ openvpn_configuration_directory }}/ta.key 1
ca {{ openvpn_ca }}
cert {{ openvpn_cert }}
key {{ openvpn_key }}
{% for item in openvpn_options | default(default_openvpn_options[openvpn_role]) %}
{{ item }}
{% endfor %}
