{{ ansible_managed | comment }}

port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev {{ openvpn_device }}
ca {{ openvpn_ca }}
cert {{ openvpn_cert }}
key {{ openvpn_key }}
dh {{ openvpn_dh }}
user {{ openvpn_user }}
group {{ openvpn_group }}
{% for item in openvpn_options | default(default_openvpn_options[openvpn_role]) %}
{{ item }}
{% endfor %}
